@charset "UTF-8";
/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: "Montserrat", sans-serif; */
p {
  font-family: "Noto Sans KR", sans-serif;
  color: #464646;
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #202020;
}
/*********** header ***********/
header .gnb {
  display: none;
}

header .header-wrapper {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: relative;
}

header .header-wrapper .logo img {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 3vw;
  width: 70px;
}

header .header-wrapper .menu img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3vw;
  width: 20px;
  height: 20px;
  color: #202020;
}

header .header-img {
  height: 94vh;
  background-color: #ddd;
}

/*********** main1 ***********/
.main1 .main1-text-list {
  padding: 0 50px;
  margin-bottom: 30px;
}

.main1 .main1-text-list li {
  border-bottom: 1px solid #ddd;
}

.main1 .main1-text-list li h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 30px 0;
}

.main1 .main1-text-list li p {
  padding-bottom: 20px;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #464646;
}

.main1 .main1-text-list li:last-child {
  border-bottom: none;
}

/*********** main2 ***********/
.main2-img-list {}

.main2-img-list li {
  position: relative;
  width: 100%;
}

.main2-img-list li img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  object-fit: cover;
}

.main2-img-list li p {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.7rem;
  display: none;
  background-color: rgba(255, 255, 255, 0.651);
  width: 100%;
  height: 100%;

}

.main2-img-list li:hover p {
  display: grid;
  place-items: center;
}

.main2-img-list .main2-img-list-1 {}

/*********** main3 ***********/
.title-txt {
  padding: 20px 50px;
}

.title-txt h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  padding: 30px 0 10px;
  color: #202020;
}

.title-txt h2::after {
  content: "";
  display: block;
  margin: 15px auto;
  width: 50px;
  height: 2px;
  background-color: #202020;
}

.title-txt p {
  font-size: 1.3rem;
  margin: 10px auto;
  text-align: center;
  font-weight: 200;
  line-height: 1.5;
  padding: 0 20px 50px;
  color: #464646;
}

.main3 .main3-img-list li {
  padding: 0 50px;
  text-align: center;
}

.main3 .main3-img-list li img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.main3 .main3-img-list li h5 {
  font-size: 1.1rem;
  padding: 20px 0 10px 0;
  color: #464646;
  font-weight: 700;
}

.main3 .main3-img-list li p {
  font-size: 1.1rem;
  padding-bottom: 70px;
  color: #464646;
}

/*********** main4 ***********/
.main4 {
  width: 100%;
  background-color: #ebebeb;
}

.main4 h2 {
  font-size: 2.5rem;
  text-align: left;
  font-weight: bold;
  padding: 50px 50px 30px;
  color: #202020;
}

.main4 p {
  padding: 0 50px 50px;
  line-height: 1.5;
  font-size: 1.2rem;
  color: #464646;
}

.main4 iframe {
  width: 100%;
  padding: 0 50px 50px;
  aspect-ratio: 16 / 9;
}

/*********** main5 ***********/
.main5 .main5-img {
  padding: 20px 50px 50px;
}
.main5 .main5-img img {
  width: 100%;
}

.main5 .main5-img h6 {
  padding: 20px 0;
  font-size: 1.2rem;
  color: #202020;
}
.main5 .main5-img p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.main5 .none {
  display: none;
}

/*********** main6 ***********/
.main6 {
  padding: 0 50px 50px;
}
.main6 h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  padding: 50px 50px 30px;
  font-family: "Noto Sans KR", sans-serif;
  color: #202020;
}
.main6 #map {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  border: 2px solid #202020;
  text-align: center;
}
.main6 .choice {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0 30px;
}
.main6 .choice h4 {
  padding: 15px;
  color: #202020;
}
.main6 .choice h4:last-child {
  border-bottom: 4px solid #ddd;
}
.main6 .choice h4:first-child {
  border-bottom: 4px solid #202020;
}

.main6 .address li {
  padding: 20px 0;
  font-size: 1.2rem;
  border-bottom: 1px solid #ddd;
}
.main6 .address li p {
  font-weight: 400;
}
.main6 .address li:last-child {
  border-bottom-color: #000000;
}

/*********** main7 ***********/
.main7 .main7-box {
  position: relative;
  color: #202020;
}
.main7 .main7-box img {
  object-fit: cover;
  width: 100%;
  height: 500px;
}
.main7 .main7-box .main7-txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 500px;
  background-color: rgba(81, 166, 199, 0.781);
  padding: 5vw;
  text-align: center;
}
.main7 .main7-box .main7-txt-box h4, .main7 .main7-box .main7-txt-box p{
  color: #fff;
}
.main7 .main7-box h4 {
  padding-top: 30px;
  font-size: 2.5rem;
}
.main7 .main7-box p {
  font-size: 1.3rem;
  padding: 50px;
  line-height: 1.8;
  font-weight: 200;
}
.main7 .main7-box a {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: bold;
}

.main7 .main7-box a:hover {
  background-color: #fff;
  color: #202020;
}
/*********** footer ***********/
footer .footer-top {
  padding: 30px 20px;
  width: 100%;
  background-color: #ebebeb;
}
footer .footer-top .footer-list li {
  padding: 20px 0;
}
footer .footer-top .footer-list li h6 {
  padding: 20px 0;
  font-size: 1.2rem;
}
footer .footer-top .footer-list li p {
  line-height: 1.8;
  font-size: 1.2rem;
}
footer .footer-top .footer-list .social-list {
  display: flex;
  gap: 20px;
}
footer .footer-bottom {
  width: 100%;
  background-color: #acacac;
  padding: 50px;
  text-align: center;
}